* {
    font-family:'Raleway', sans-serif;
}

body {
    background-color: #38A3A5;
}

header {
    border: solid black 2px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 20px;
    background-color: #22577A;
}

header img {
    border-radius: 50%;
    height: 80px;
    width: 80px;
    display: block;
    border: solid black 10px;
}

header ul {
    list-style-type: none;
    border: solid black 2px;
    height: 50px;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold; 
    margin-top: 10px;
}

header ul li {
    margin: 5px;
}

header h1 {
    border: solid black 2px;
    height: 50px;
    margin-top: 10px;
}

header ul li a {
    color: white;
    font-size: 20px;
}