* {
    font-family:'Raleway', sans-serif;
}

body {
    background-color: #38A3A5;
}

header {
    border: solid black 2px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 20px;
    background-color: #22577A;
}

header img {
    border-radius: 50%;
    height: 80px;
    width: 80px;
    border: solid black 10px;
}

header ul {
    list-style-type: none;
    border: solid black 2px;
    height: 50px;
    width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold; 
    margin-top: 10px;
}

header ul li {
    margin: 2px;
}

header h1 {
    border: solid black 2px;
    height: 100px;
    font-size: 80px
}

header ul li a {
    color: white;
    font-size: 40px;
}

.aboutme {
    border: solid black 2px;
    background-color: #C7F9CC;
    color: black;
}

.aboutme h2 {
    font-size: 30px;
}

.aboutme p {
    font-size: 20px;
}

.portfolio {
    border: solid black 2px;
    display: flex;
    height: 1500px;
    flex-direction: column;
    align-items: center;
}

#mainproj img{
    height: 500px;
    width: 500px;
    justify-self: center;
}