* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body {
    background-color: rgb(9, 58, 62);
    color: white;
}

header h1 {
    margin: 0 auto;
    border: solid black 10px;
    margin: 0 auto;
    width: 200px;
}

header div ul { 
    list-style-type: none;
    margin: 10px;
    display: inline-block;
    margin-top: 0px;
    border: solid black 2px;
    font-size: 30px;
}